@keyframes aside1 {
from {left:-500px;}
to {left:0px;}
}
body {
margin: auto;
width: 1000px;
color: red;
background-color: black;
font: 20px Arial;
}
header {
background: black;
}
main {
background: linear-gradient(90deg,black, white,black);
}
nav , main {
float: left;
min-height:300px;